<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="NopCommerce Automation Testing" parallel="false">
    <listeners>
        <listener class-name="reportConfigs.AllureListener"/>
        <listener class-name="jiraConfigs.JiraListener"/>

    </listeners>
    <test name="User Functionality Tests">
        <classes>
            <class name="com.nopcommerce.user.Level_17_Selenium_Jira"/>

        </classes>
    </test>
</suite>
